TestClient/Connected Services/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/TrialAndErrorWcF" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TrialAndErrorWcF" minOccurs="0" name="GetDataResult" nillable="true" type="q1:ArrayOfFlight" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindFlightByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="flightNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindFlightByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TrialAndErrorWcF" minOccurs="0" name="FindFlightByIDResult" nillable="true" type="q2:Flight" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeFlight">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="flightNumber" type="xs:int" />
        <xs:element minOccurs="0" name="locationFrom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="locationTo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeFlightResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChangeFlightResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>