TestClient/Connected Services/ServiceReference1/TrialAndErrorWcF.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TrialAndErrorWcF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TrialAndErrorWcF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfFlight">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Flight" nillable="true" type="tns:Flight" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFlight" nillable="true" type="tns:ArrayOfFlight" />
  <xs:complexType name="Flight">
    <xs:sequence>
      <xs:element minOccurs="0" name="ArrivalTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DepartTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FlightId" type="xs:int" />
      <xs:element minOccurs="0" name="FlightType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FromLocation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ToLocation" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Flight" nillable="true" type="tns:Flight" />
</xs:schema>